.pedido-item { 
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.pedido-inside-container { 
    background-color: white;
    width: 100%;
    height: min-content;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.item-field {
    margin: 5px;
    text-align: center;
}
