.body-payment{
    width: 80%;
    margin: 0 auto;
}

.header-payment{
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
    font-size: 20px;
    font-weight: 700;
}

.title-payment{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color:#f98942;
}

.value-payment{
    width: 20%;
    border-radius: 5px;
}

.container-payment{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.payment-card{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.payment-cash{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.choosePaymentType{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 25vw;
}

.escolha-pagamento{
    font-size: 18px;
    margin-bottom: 30px;
}

.cadastro-cartao-input {
    background-color: #eddcd8;
    width: 305px;
    padding: 13px;
    border: none;
    outline-style: none;
    border-radius: 5px;
    margin: 5px;
}

.icon-card{
    width: 50px;
    height: 50px;
    margin: 0 0 20px 20px;
}

.icon-cash{
    width: 50px;
    height: 50px;
    margin: 0 0 20px 20px;
}

.form-cadastro-cartao{
    display: flex;
    flex-direction: column;
}

.btn-cadastro-cartao {
    width: 70%;
    border-radius: 5px;
    background-color: #f98942;
    border: none;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto;
  }

.btn-cadastro-cartao:hover {
    cursor: pointer;
    background-color: #f3dfd4;
    color: #f98942;
  }
  
.btn-cadastro-cartao:active {
    background-color: white;
}

.btn-pagamento {
    border-radius: 5px;
    background-color: #f98942;
    border: none;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 38px;
    margin-bottom: 46px;
  }
  
  .btn-pagamento:hover {
    cursor: pointer;
    background-color: #f3dfd4;
    color: #f98942;
  }
  
  .btn-pagamento:active {
    background-color: white;
  }

